.main{
    height: 600px;
    width:900px;
    background-color: lightblue;
    margin: 0px auto;
}
.head{
    height:100px;
    width:inherit;
    background-color: darkcyan;
    padding:0px;
      
}
.img{
    height:50px;
    width:150px;
    background:url(img1.jpg) no-repeat;
    margin:10px 0px;
    padding:10px 0px;
    float:left;
}
.nav{
    height:50px;
    width:inherit;
    background-color: darkkhaki;
    float:left;
}
ul li{
    display: inline;
    padding:0px 80px;
    
}
.post{
    height:400px;
    width:600px;
    background-color:blueviolet;
    float:left;
}
.first{
    height:180px;
    width:inherit;
    background-color: lightgray;
    overflow: auto;
}
/*
.gap{
    height:10;
    width:inherit;
    background-color: beige;
}
*/
.second{
    height:180px;
    width:inherit;
    background-color: aqua;
     overflow: auto;
}
.side{
    height:400px;
    width:300px;
    background-color: yellow;
    float:right;
}
.top{
    height: 140px;
    width:inherit;
    float:left;
    overflow: scroll;
}
.middle{
    height:135px;
    width:inherit;
    background-color: brown;
    float:left;
     overflow: scroll;
}
.bottom{
     height:125px;
    width:inherit;
    overflow:scroll;
}
.copy{
    width:900px;
    height:10px;
    line-height: inherit;
    text-align: center
}
h3{
    color: red;
}